body {
    overflow-x: hidden !important;
}

#hero {
    display: block !important;

}

#call-to-action {
    display: block !important;
    margin-bottom: 110px !important;
    margin-left: -130px !important;
}
#call-to-action-2{
    display: none !important;
}
.hero-img{
    height: 80vh;
    width: 100vw;
    background: url('https://cdn.discordapp.com/attachments/851139470085849179/852995969099235348/arteum-ro-ZYu6P9-Glic-unsplash.jpg') no-repeat center bottom;
    background-size: cover;
}

.features{
    margin-top: -70px !important;
    background-color: #00CF53;
    overflow: hidden;
    z-index: 2;
}

.website-title{
    margin-top: -150px !important;
}

.text-justify {
    text-align: justify;
}

.hover:hover {
    background-color: aliceblue;
}

.card img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 40vh;
}

.hidden {
    display: none;
}

.qnt {
    max-width: 20px !important;
    height: auto
}
.signup-button{
    background-color: #00CF53 !important;
}
.signup-button:hover{
    background-color: #6DDE16 !important;
}
.bg-1{
    background-color: #6DDE16 !important;
}
.b:hover{
    background-color: #6DDE16 !important;
}
.bg-2{
    background-color: #00CF53 !important;
}
.bg-3{
    background-color: #00BB7F !important;
}
.bg-4{
    background-color: #00A5A5 !important;
}
.btn-1{
    background-color: #6DDE16 !important;
}
.btn-1:hover{
    background-color: #00CF53 !important;
}
.btn-2{
    background-color: #00CF53 !important;
}
.btn-2:hover{
    background-color: #00BB7F !important;
}
.bg-5{
    background-color: #008EC0 !important;
}
.bg-6{
    background-color: #0076CC !important;
}
.text-1{
    color: #6DDE16 !important;
}
.text-2{
    color: #00CF53 !important;
}
.text-3{
    color: #00BB7F !important;
}

.nav-link:hover{
    color:#FFF !important;
}

@media screen and (min-width: 960px) { /* code works above the limit*/
    #call-to-action {
        margin-left: -110px !important;
        margin-bottom: 200px !important;
    }
}
@media screen and (max-width: 850px) {
    #hero {
        display: none !important;
    }

    .features{
        margin-top: 0px !important;
        /* background-color: #00CF53;
        overflow: hidden;
        z-index: 2; */
    }
    
    #call-to-action {
        margin-left: -110px !important;
        margin-bottom: 200px !important;
    }
    #call-to-action-2 {
        display: block !important;
        margin-inline: 15px !important;
        overflow-x: hidden;
    }
}